div {
    background-color: gray;
}

p {
    color: black;
}
li {
    font-size: 16pt;
}

ol li  {
    color: orange;
    font-family: courier, monospace;

} 

ul li  {
    color: blue;
    font-family: Arial, sans-serif;
}